*{
    margin: 0;
    padding: 0;
}



.nav {
    width: 1200px;
    margin: 0 auto;
    background-color:#333333e0;
    color: white;
    height: 80px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav a{
    color: white;
    text-decoration: none;
}

.nav-title {
    margin: 20px;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: aqua;
    color: white;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px black;
}
